# Managed by CFEngine

Port 22
AddressFamily inet
Protocol 2

LogLevel INFO
SyslogFacility AUTHPRIV

PermitRootLogin without-password
StrictModes yes
AuthorizedKeysFile .ssh/authorized_keys

# By default, this CFEngine ruleset enables pubkey authentication and
# disables all other authentication methods. However, password auth
# can optionally be enabled: https://github.com/ecs-hk/ec2-cfengine37
# (See "optional features" in README.)

PubkeyAuthentication yes
RSAAuthentication no
RhostsRSAAuthentication no
HostbasedAuthentication no
PermitEmptyPasswords no
ChallengeResponseAuthentication no
KerberosAuthentication no
GSSAPIAuthentication no
UsePAM yes

# Mustache derived based on global classes - begin ---------------------------
{{!
}}
{{#classes.gc_enable_ssh_password_auth}}
PasswordAuthentication yes
{{/classes.gc_enable_ssh_password_auth}}
{{!
}}
{{^classes.gc_enable_ssh_password_auth}}
PasswordAuthentication no
{{/classes.gc_enable_ssh_password_auth}}
{{!
}}
# Mustache derived based on global classes - end -----------------------------

# Mustache derived based on OS - begin ---------------------------------------
{{!
}}
{{#classes.gc_amzn}}
UsePrivilegeSeparation sandbox
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key
{{/classes.gc_amzn}}
{{!
}}
{{#classes.redhat_7}}
UsePrivilegeSeparation sandbox
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key
{{/classes.redhat_7}}
{{!
}}
{{#classes.redhat_6}}
UsePrivilegeSeparation yes
HostKey /etc/ssh/ssh_host_rsa_key
{{/classes.redhat_6}}
{{!
}}
# Mustache derived based on OS - end -----------------------------------------

Banner /etc/ssh/banner
PrintMotd yes

# Accept locale-related environment variables
AcceptEnv LANG LC_CTYPE LC_NUMERIC LC_TIME LC_COLLATE LC_MONETARY LC_MESSAGES
AcceptEnv LC_PAPER LC_NAME LC_ADDRESS LC_TELEPHONE LC_MEASUREMENT
AcceptEnv LC_IDENTIFICATION LC_ALL LANGUAGE
AcceptEnv XMODIFIERS

Subsystem sftp internal-sftp
